.red-sen {
    color: red;
    background: rgb(255 0 0 / 15%);
    padding: 1px 3px;
    border-radius: 5px;
}

.green-sen {
    color: green;
    background: rgb(0 128 0 / 15%);
    padding: 1px 3px;
    border-radius: 5px;
}
